@import "tailwindcss";

.gradiente-text {
    background-image: linear-gradient(to right, #c084fc, #22d3ee, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.neon-text {
    text-shadow: 0 0 5px #c084fc,0 0 10px #c084fc,0 0 20px #c084fc;
}

.neon-box {
    box-shadow: 0 0 2px #c084fc,0 0 10px #c084fc,0 0 20px #c084fc;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    
.fade-in-up {
    animation: fadeInUp 0.8s ease-out both;
}

.bt-line {
    display: inline-block;
    position: relative;
    font-weight: bold;
}
  
.bt-line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    height: 4px;
    background-color: oklch(71.4% 0.203 305.504);
    transform: translateX(-50%) scale(0); /* centra y colapsa */
    animation: growLineCenter 0.8s ease-out forwards;
}

@keyframes growLineCenter {
    from {
      transform: translateX(-50%) scaleX(0);
    }
    to {
      transform: translateX(-50%) scaleX(1);
    }
  }