
<section class="flex flex-col gap-50 pt-64">
    <header class="fixed top-0 left-0 w-full bg-black z-50 shadow-md">
        <div class="w-[80%] mx-auto flex flex-row justify-between items-center py-4">
          <h1 class="text-2xl font-bold gradiente-text">
              FERNU <span class="text-white neon-text">DEV</span>
          </h1>
      
          <nav class="flex flex-row items-center justify-between gap-4">
              <a href="" class="text-purple-300 hover:text-white">Sobre mí</a>
              <a href="" class="text-purple-300 hover:text-white">Habilidades</a>
              <a href="" class="text-purple-300 hover:text-white">Proyectos</a>
              <a href="" class="text-purple-300 hover:text-white">Contacto</a>
          </nav>
      
          <button 
              class="text-purple-300 border-purple-300 rounded-md py-2 px-4 border-2 hover:cursor-pointer hover:text-white transition duration-150"
          >
              Descargar CV
          </button>
        </div>
      </header>

    <div class="w-[50%] mx-auto text-center flex flex-col justify-center items-center gap-5">
        <span 
            class="text-purple-300 bg-purple-500/20 px-4 py-1 rounded-4xl border-purple-400 border-2 text-xs w-fit fade-in-up"
        >
            Desarrollador FullStack
        </span>
        <h1 class="text-7xl font-bold gradiente-text animate__fadeInUp fade-in-up leading-tight">
            Creando experiencias
            digitales <span class="text-white neon-text">extraordinarias</span>
        </h1>
        <p class="text-white text-xl fade-in-up">
            Especializado en desarrollo web full stack con experiencia en las tecnologías más modernas. Transformando ideas en soluciones digitales innovadoras.
        </p>

        <div class="flex gap-5 justify-center fade-in-up">
            <button 
                class="text-white bg-purple-900 border-2 border-purple-900 rounded-md py-2 px-4 hover:cursor-pointer hover:bg-purple-800 hover:border-purple-800 transition duration-150 w-40"
            >
                Ver Proyectos
            </button>

            <button 
                class="text-purple-300 border-purple-300 rounded-md py-2 px-4 border-2 hover:cursor-pointer hover:text-white transition duration-150 neon-box w-40"
            >
                Contactar
            </button>
        </div>

        <a class="text-purple-300 flex flex-col items-center gap-3 hover:cursor-pointer fade-in-up">
            <p class="hover:text-white">Descubrir más</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down animate-bounce"><path d="M12 5v14"></path><path d="m19 12-7 7-7-7"></path></svg>
        </a>
    </div>
</section>