:root{
    --Blue: #170FBF;
    --Purlple: #A70FBF;
    --DarkGray : #282828;
}

html{
    font-size: 62.5%;
    background-color: #16153E;
    font-family: 'Noto Sans Display', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

#root{
    margin: 0;
    padding: 0;
}

.btn-principal{
    background-color: var(--Purlple);
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 1.5rem;
    border: none;
    text-decoration: none;
    transition: 1s;
    width: 25rem;
    font-size: 2rem;
    cursor: pointer;
}

.btn-secundario{
    background-color: #03337C;
    color: white;
    padding: 1rem 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    border: none;
    text-decoration: none;
    transition: 1s;
    width: 10rem;
    font-size: 1.2rem;
    cursor: pointer;
}



.btn-secundario:hover{
    background-color: #8E29AF;
    transition: 1s;
}
.btn-principal:hover{
    background-color: var(--Blue);
    transition: 1s;
}


/* Media Queries de mobil */

@media (min-width: 280px) AND (max-width:480px){
    .btn-secundario{
        font-size: 1rem;
        padding: 1rem 0.2rem;
    }
}